@keyframes color-change {
    0% {
  border: 5px solid rgb(255, 166, 0);
}
10% {
  border: 5px solid #69f140;
}
20% {
  border: 5px solid #f1d639;
}
30% {
  border: 5px solid #0004d3;
}
40% {
  border: 5px solid rgb(14, 228, 228);
}
50% {
  border: 5px solid #ffd900;
}
60% {
  border: 5px solid rgb(255, 78, 47);
}
70% {
  border: 5px solid #18df64;
}
80% {
  border: 5px solid #f1c40f;
}
90% {
  border: 5px solid rgb(119, 39, 39);
}
100% {
  border: 5px solid rgb(49, 99, 60);
}
}

@keyframes word2-color-change {
    0% {
  color: rgb(255, 166, 0);
}
10% {
  color: #69f140;
}
20% {
  color: #f1d639;
}
30% {
  color: #0004d3;
}
40% {
  color: rgb(14, 228, 228);
}
50% {
  color: #ffd900;
}
60% {
  color: rgb(255, 78, 47);
}
70% {
  color: #18df64;
}
80% {
  color: #f1c40f;
}
90% {
  color: rgb(119, 39, 39);
}
100% {
  color: rgb(49, 99, 60);
}
}

@keyframes word-color-change{
  from{color: red}
  to{color: green}
}

/* @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Playfair+Display:ital@1&display=swap');
*{
  /* font-family: 'Kanit', sans-serif; */
  font-family: 'Playfair Display', serif;
}

@keyframes time-color-change {
  0%{color: #69f140;}
  100%{ color: #0004d3;}
  
}

.blockquote{
  box-shadow: 0px 10px 6px rgb(211 211 211 / 50);
  padding: 10px;
  
}

.footerBlockquote {
  box-shadow: 0px -9px 6px 0px rgb(211 211 211 / 50);
  padding: 10px;
}
.card:hover{
    background:#FA83EE;
}
